.plant-label {
	width:45%;
	min-height:50px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#FFFFFF;
	-webkit-box-shadow: #B3B3B3 7px 7px 7px;
	-moz-box-shadow: #B3B3B3 7px 7px 7px; 
	box-shadow: #B3B3B3 7px 7px 7px;
	padding: 20px 30px;
	font-weight: bold;
	margin: -20px auto 20px auto;
    text-align: center;
}

.container-jen {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.plant-images-container {
  text-align: center;
}

.planting-details-label {
	width:45%;
	height:300px;
	background-color:#F2F2F2;
	padding: 30px;
	font-weight: bold;
	margin: 20px;
    float: left;
}

.plant-planning-label {
  width:45%;
  height:300px;
  background-color:#F2F2F2;
  padding: 30px;
  font-weight: bold;
  margin: 20px;
  float: right;
}

.plant-care-label {
	width:45%;
	height:350px;
	background-color:#FFFFFF;
	padding: 30px;
	font-weight: bold;
	margin: 20px;
    float: right;
}

.plant-notes-label {
	width:45%;
	height:350px;
	// -webkit-border-radius: 20px;
	// -moz-border-radius: 20px;
	// border-radius: 20px;
	background-color:#FFFFFF;
	// -webkit-box-shadow: #B3B3B3 7px 7px 7px;
	// -moz-box-shadow: #B3B3B3 7px 7px 7px; 
	// box-shadow: #B3B3B3 7px 7px 7px;
	padding: 30px;
	font-weight: bold;
	margin: 20px;
    float: left;
}

.plant-details-container .card {
	background-color: #F2F2F2;
}

img.right-float-img {
  float: right;
}

.edit-icon {
	margin-left: 20px;
}

.delete-icon {
	margin-left: 10px;
	margin-right: 0;
}

.datatable-icon {
  margin-right: 3px;
}

.org {
	color: #FF8C00;
}

.prev-plant {
  float: left;
  display: inline;

}

.next-plant {
  float: right;
  display: inline;
}

.best_in_place {
  color: #0c0c0c;
}

.in-place-edit-icon {
  color: #CCCCCC;
  display: inline;
  font-size: 0.8em;
}

.plant-details-container p {
  color: #6c6c6c;
}
